.container {
    /* border: solid 2px var(--secondary-color); */
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    padding-bottom: 50px;
    background-color: black;
}

.product {
    display: inline-block;
    /* border-left: solid 4px var(--special-color); */
    color: var(--primary-bright);
    background-color: var(--primary-bright);
    border: solid 2px black;
    color: black;
    width: 19%;
    min-width: 250px;
    max-width: 400px;
    margin: 5px;
    text-align: center;
    transition: 1s ease;
    margin-bottom: 50px;
    border-bottom: solid 2px var(--primary-bright);
}

.product:hover {
    border: solid 2px var(--special-first);
}



.image {
    margin-top: 20px;
    height: 200px;
}

.image img {
    max-width: 100%;
    max-height: 200px;
}

.title {
    /* border-bottom: solid 2px black; */
    padding-top: 20px;
    height: 90px;
    font-size: 20px;
}

.price {
    color: var(--special-second);
}

.price p {
    margin: 10px;
    font-size: xx-large;
}

.category {
    margin: auto;
    background-color: var(--special-color);
    background: linear-gradient(90deg, black 30%, white 70%);
    text-transform: uppercase;
}

.category p {
    /* color: var(--primary-bright); */
    margin: 0;
    text-align: right;
    padding-right: 5px;
    /* width: 100%; */
}
.link {
    color: black;
}

.link:hover {
    color: var(--special-first);
}
.link:active {
    color: var(--special-second)
}
.product:active {
    border-color: var(--special-second);
}