.container {
    text-align: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(58,198,234,1) 50%, rgba(0,0,0,1) 100%);
}

.user {
    padding-bottom: 3%;
}

.welcome {
    width: 50%;
    height: 35px;
}

.welcome p {
    font-size: x-large;
}

.table {
    margin: auto;
}

.account, .welcome, .shopping-cart, .favourite, .history {
    background-color: white;
    box-shadow: 0 0 5px black;
    margin: auto;
}

.account {
    /* padding: 1%; */
    margin-top: 3%;
    width: 50%;
    padding-bottom: 50px;
}

.shopping-cart {
    margin-top: 1%;
    height: 200px;
    width: 50%;
}

.more-info-holder {
    width: 50%;
    margin: auto;
}

.favourite, .history {
    display: inline-block;
    margin-top: 2%;
    width: 49%;
    height: 200px;
}

.favourite {
    margin-right: 1%;
}

.history {
    margin-left: 1%;
}
.tr th {
    text-align: right;
    padding: 0 10px;
    font-weight: 500;
}
.tr td {
    text-align: left;
    padding: 0 10px;
}