.container {
    text-align: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(58,198,234,1) 50%, rgba(0,0,0,1) 100%);
}

.user {
    padding-bottom: 3%;
    width: 50%;
    margin: auto;
    box-shadow: 0 0 10px black;
    padding: 2%;
    margin: 2% 0;
    display: inline-block;
}

.welcome {
    width: 60%;
    height: 35px;
    margin: auto;
    margin-bottom: 40px;
}

.welcome p {
    display: inline-block;
    margin: auto;
    margin-top: 6px;
    font: bold 30px arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.664);
    color: transparent;
    text-shadow: 2px 2px 3px var(--special-first);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.table {
    margin: auto;
}

.account, .shopping-cart, .favourite, .history {
    background-color: white;
    box-shadow: inset 0 0 5px black;
    margin: auto;
    width: 70%;
}

.account {
    /* padding: 1%; */
    margin-top: 3%;
    padding-bottom: 50px;
}

.shopping-cart {
    margin-top: 1%;
    height: 200px;
}

.more-info-holder {
    margin: auto;
}

.favourite, .history {
    display: inline-block;
    margin-top: 2%;
    width: 49%;
    height: 200px;
}

.favourite {
    margin-right: 1%;
}

.history {
    margin-left: 1%;
}
.tr th {
    text-align: right;
    padding: 0 10px;
    font-weight: 500;
}
.tr td {
    text-align: left;
    padding: 0 10px;
}