.container {
    text-align: center;
    height: 100%;
    background-color: var(--special-first);
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(58,198,234,1) 50%, rgba(0,0,0,1) 100%);
}

.product {
    border-bottom: solid 1px rgb(212, 212, 212);
    height: 100px;
}

.image-holder, .price-holder, .button-holder, .name-holder {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

.your-cart, .cart, .order {
    background-color: white;
    box-shadow: 0 0 5px black;
    margin: auto;
    width: 72%;
}

.cart {
    display: inline-block;
    width: 46%;
    margin-right: 1%;
    padding: 2%;
    height: 400px;
    margin-bottom: 2%;
    overflow-y: auto;
}

.order {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 400px;
    background-color: black;
    color: white;
    margin-left: 1%;
    padding: 2% 0;
}

.your-cart {
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.your-cart p {
    font-size: x-large;
}

.price {
    width: 100px;
    margin: auto;
    text-align: center;
}

.img {
    vertical-align: middle;
    max-width: 100px;
    max-height: 100px;
}

.button {
    background-color: unset;
    border: none;
    font-size: larger;
}

.button:hover {
    color: var(--special-second);
}

.heading {
    font-size: large;
    border-bottom: solid 1px white;
    margin: 20px;
    padding-bottom: 20px;
}

.checkout {
    /* margin: 20px; */
    cursor: pointer;
    width: 90%;
    height: 30px;
    background-color: var(--special-first);
    border: none;
    vertical-align: bottom;
}

.checkout:hover {
    color: white;
}

.order-info p, .total-price p {
    width: 50%;
    display: inline-block;
}
.order-info {
    margin: 20px;
    border-bottom: solid 1px white;
    padding-bottom: 20px;
}
.total-price {
    font-size: large;
    margin: 20px;
}