.conteiner {
    width: 300px;
    background-color: black;
    position: fixed;
}

.conteiner ul {
    margin: 0;
    padding: 0;
}

.conteiner ul li {
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: 2px;
    text-align: center;
}

.conteiner ul li:hover {
    border-bottom: solid 2px var(--special-color);
}

.link {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--special-color);
    padding: 20px 0;
}