.info-holder {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    height: 700px;
    padding: 1%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    overflow: auto;
    background-color: var(--primary-bright);
}

.product-name {
    text-align: center;
    font-size: xxx-large;
    font-weight: 500;
    border-bottom: solid 1px black;
    padding: 1em 0;
    margin: 0;
}

.product-price {
    font-size: xxx-large;
    font-weight: 500;
    width: 200px;
    border-bottom: solid 1px black;
}