.form {
    border: solid 1px black;
    margin: auto;
    text-align: center;
    width: 40%;
    padding: 4%;
    background-color: var(--secondary-color);
    color: white;
}
.form p {
    color: var(--special-color-red);
}
.field-wrap {
    height: 70px;
}
.err-line {
    height: 10px;
}
.line {
    border-bottom: 2px solid black;
}
.select {
    background-color: var(--secondary-color);
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    padding: 5px 10px;
    width: 83%;
    transition: .5s ease;
}
.select-err {
    box-shadow: 0px 0px 5px 4px var(--special-color-red);
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    padding: 5px 10px;
    width: 83%;
    transition: .5s ease;
}

.textarea {
    background-color: var(--secondary-color);
    border: solid 1px var(--primary-color);
    color: white;
    resize: none;
    width: 83%;
    height: 130px;
}
.textarea-err {
    background-color: var(--secondary-color);
    border: none;
    box-shadow: 0px 0px 5px 4px var(--special-color-red);
    color: white;
    resize: none;
    width: 83%;
    height: 130px;
}

.textarea-line {
    height: 200px;
}

