.footer {
    width: 100%;
    height: 400px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

.footerContainer {
    width: 90%;
    height: 80%;
    border-bottom: solid 3px var(--special-color-red);
    /* text-align: center; */
    margin: auto;
}

.footerInfo {
    /* border: solid 1px var(--special-color-red); */
    height: 80%;
    width: 25%;
    padding: 3%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.headerColor {
    color: var(--special-color-red);
    font-size: large;
  }

.footerInfo input {
    background-color: var(--primary-color);
    border: none;
    /* border: solid 1px var(--special-color-red); */
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
    width: 100%;
}

.footerInfo button {
    background-color: var(--special-color-red);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    transition: .5s ease;
}

.footer button:hover, .socicons-list li a:hover {
    background-color: var(--secondary-color);
    color: var(--special-color-red);
    /* border: solid 1px var(--special-color-red); */
    box-shadow: 0 0 5px 5px var(--special-color-red);
}

.footer button:active {
    transition: .1s ease;
    outline: none;
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
}

.footerInfo h1 {
    margin-bottom: 40px;
    color: var(--secondary-color);
    text-shadow: 1px 1px var(--special-color-red);
    font-size: 40px;
}

.footerLinks {
    /* border: solid 1px var(--special-color-red); */
    width: 100%;
    height: 20%;
}

.socicons-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: unset;
}

.socicons-list li a {
    padding: 6px;
    height: 40px;
    width: 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #f1f1f1;
    transition: all ease-in-out 10ms;
    margin: 10px;
    background-color: var(--special-color-red);
    transition: .5s ease;
}