/* .conteiner {
    width: 15%;
    background-color: var(--primary-dark);
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.conteiner ul {
    margin: 0;
    padding: 0;
}

.conteiner ul li {
    width: 100%;
    background-color: gainsboro;
    margin-bottom: 2px;
    text-align: center;
}

.conteiner ul li:hover {
    background-color: var(--special-first);
}

.link {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    padding: 20px 0;
} */

.menu-list {
    width: 100%;
    height: 40px;
    background-color: var(--primary-dark);
    text-align: center;
    border-bottom: 1px solid var(--special-first);
    margin-bottom: 20px;
}
.menu-list ul {
    margin: 0px;
    padding: 0px;
    height: 100%;
}